<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div *ngFor="let product of products">
        <app-cart-item
          id="{{ product.id }}"
          imageUrl="{{ product.url }}"
          name="{{ product.name }}"
          quantity="{{ product.quantity }}"
          price="{{ product.price }}"
        ></app-cart-item>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="container bg-dark text-white rounded w-75 p-3">
        <div
          class="d-flex justify-content-between align-self-center"
          *ngFor="let product of products"
        >
          <p>{{ product.name }} x {{ product.quantity }}</p>
          <p>{{ product.price * product.quantity }}$</p>
        </div>
        <div
          class="d-flex justify-content-between align-self-center fs-4 fw-bold text-uppercase"
        >
          <p>total</p>
          <p>{{ totalPrice }}$</p>
        </div>
        <form [formGroup]="cartForm">
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="fullName"
            />
            <div
              class="text-warning"
              *ngIf="cartForm.controls['name'].hasError('required')"
            >
              Name is required
            </div>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input
              formControlName="address"
              type="text"
              class="form-control"
              id="address"
            />
            <div
              class="text-warning"
              *ngIf="cartForm.controls['address'].hasError('required')"
            >
              Address is required
            </div>
          </div>
          <div class="mb-3">
            <label for="creditCard" class="form-label"
              >Credit Card Number</label
            >
            <input
              formControlName="creditCardNumber"
              type="text"
              class="form-control"
              id="creditCard"
            />
            <div
              class="text-warning"
              *ngIf="cartForm.controls['creditCardNumber'].hasError('required')"
            >
              Credit card number is required
            </div>
            <div
              class="text-warning"
              *ngIf="cartForm.controls['creditCardNumber'].hasError('pattern')"
            >
              Credit card number must consists of only numbers
            </div>
          </div>
          <button
            [disabled]="!cartForm.valid"
            type="submit"
            class="btn btn-primary"
            routerLink="/confirmation"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
